.card-edit {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 10;
  }

  &__container {
    z-index: 20;
    position: absolute;
    display: flex;
  }

  &__form {
    width: 26rem;
    background-color: transparent;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  &__form-textarea {
    width: 100%;
    padding: 0.6rem 1.2rem 4rem;
    border: none;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 0.3rem;
    outline: none;
    font-family: inherit;
    resize: none;

    &__button-container {
      display: flex;
    }

    &__submit-btn {
      margin-right: 0.2rem;
      cursor: pointer;
      color: #dfdfdf;
    }
  }

  &__edit-panel {
    margin-left: 2rem;
    background-color: transparent;
    list-style: none;

    animation-name: moveFromLeft;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
  }

  &__edit-option {
    color: white;
    display: block;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 2px;

    & mat-icon {
      font-size: 1.7rem;
      margin-top: 0.3rem;
    }

    & span {
      margin-top: 0.4rem;
      font-size: 1.3rem;
    }

    &:hover {
      transform: translateX(0.3rem);
    }
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
