.auth-container {
  height: 100%;
  background-image: url("../../assets/images/mb-bg-fb-09.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  display: flex;
  flex-direction: column;

  & mat-card-header {
    align-self: center;
  }

  & mat-card-actions {
    align-self: center;
  }
}

.form-card {
  min-width: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.full-width {
  width: 100%;
}

.error-message-card {
  background-color: #f44336;
  color: white;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.226);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;

  & mat-spinner {
    z-index: 50;
  }
}
