// Fonts
$main-font: "Roboto", "Helvetica Neue", sans-serif;

// Colors
$grey-primary: rgb(240, 240, 240);
$grey-secondary: rgb(214, 214, 214);
$grey-tertiary: rgb(155, 155, 155);

$grey-icon: rgb(88, 88, 88);
$grey-font-color: rgb(71, 71, 71);
