<mat-toolbar color="primary" class="navbar">
  <mat-nav-list *ngIf="showBoardNavigation()" class="test-board-nav">
    <a mat-list-item [routerLink]="['/dashboard']"><mat-icon>home</mat-icon></a>
  </mat-nav-list>
  <div class="logo-wrapper" [routerLink]="['/']">
    <img src="../../assets/images/proman-logo.png" alt="Logo" />
  </div>
  <mat-nav-list class="test-auth-nav">
    <a
      *ngIf="showSignUpBtn()"
      mat-list-item
      [routerLink]="['/auth', 'signUp']"
      class="test-signup-link"
      >Sign up</a
    >
    <a
      *ngIf="showLoginBtn()"
      mat-list-item
      [routerLink]="['/auth', 'logIn']"
      class="test-login-link"
      >Login</a
    >
    <a
      *ngIf="showLogoutBtn()"
      mat-list-item
      (click)="onLogOut()"
      class="test-logout-link"
      >Logout</a
    >
  </mat-nav-list>
</mat-toolbar>
