<div
  class="card-detail__wrapper"
  (click)="onCloseDisplayCardDetailState($event)"
>
  <div class="card-detail__container" #cardEditContainer>
    <div class="card-detail__data">
      <div class="card-detail__section">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >subtitles</mat-icon
        >
        <div class="card-detail__content">
          <h3 class="card-detail__title">{{ currentCard.title }}</h3>
          <span>in list: {{ statusName }}</span>
        </div>
      </div>
    </div>
    <div class="card-detail__actions">Add checklist</div>
  </div>
</div>
