<div class="status-card">
  <div class="status-card__update-container">
    <div (click)="showEditName(); focus(editName)" class="status-card__name">{{ name }}</div>
    <input
      #editName
      (blur)="isNameEditVisible = false"
      (keyup.escape)="isNameEditVisible = false"
      (keyup.enter)="updateName()"
      [formControl]="editNameControl"
      class="status-card__edit-name"
      [class.status-card__edit-name--hide]="!isNameEditVisible"
      type="text"
    >
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="status-card__menu-btn"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="status-card__menu">
      <button mat-menu-item (click)="onListDelete()">
        <mat-icon>delete</mat-icon>
        <span>Remove list</span>
      </button>
    </mat-menu>
  </div>
  <div class="status-card__add-btn">
    <mat-icon>add</mat-icon><span>Add a card</span>
  </div>
</div>
