<div class="status-card">
  <div class="status-card__update-container">
    <div (click)="showEditName(); focus(editName)" class="status-card__name">
      {{ statusName }}
    </div>
    <input
      #editName
      (blur)="isNameEditVisible = false"
      (keyup.escape)="isNameEditVisible = false"
      (keyup.enter)="updateName()"
      [formControl]="editNameControl"
      class="status-card__edit-name"
      [class.status-card__edit-name--hide]="!isNameEditVisible"
      type="text"
      autofocus
    />
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="status-card__menu-btn"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="status-card__menu">
      <button mat-menu-item (click)="onStatusDelete()">
        <mat-icon>delete</mat-icon>
        <span>Remove list</span>
      </button>
    </mat-menu>
  </div>
  <div
    id="{{ status.id }}"
    class="status-card__cards-contaner"
    cdkDropList
    [cdkDropListData]="statusCards$ | async"
    [cdkDropListConnectedTo]="connectedTo"
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="onCardDrop($event)"
  >
    <app-card
      cdkDrag
      class="card-tile"
      *ngFor="let card of statusCards$ | async; trackBy: trackByCards"
      [currentCard]="card"
      [statusName]="statusName"
      (editStateChange)="editStateChange.emit($event)"
    ></app-card>
  </div>
  <div
    class="status-card__add-btn"
    *ngIf="!addingCardState"
    (click)="addingCardState = true"
  >
    <mat-icon>add</mat-icon><span>Add a card</span>
  </div>
  <div class="new-status-modal" *ngIf="addingCardState">
    <form
      [formGroup]="newCardForm"
      (ngSubmit)="onCardAdd()"
      class="new-status-modal__form"
    >
      <input
        class="new-status-modal__form-input"
        matInput
        placeholder="Add title for this card..."
        formControlName="title"
        type="text"
        autofocus
      />
      <div class="new-status-modal__button-container">
        <button
          class="new-status-modal__submit-btn"
          mat-raised-button
          color="accent"
          type="submit"
        >
          Add card
        </button>
        <button
          mat-icon-button
          (click)="addingCardState = false"
          class="new-status-modal__close-btn"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
