.landing-page-container {
  height: 100%;
  background-image: url("../../assets/images/mb-bg-fb-09.png");
  background-size: cover;
  position: relative;

  & .hero-box {
    color: white;
    position: absolute;
    top: 25rem;
    right: 15rem;
  }
}
