:host {
  & mat-nav-list {
    display: flex;
    padding-bottom: 5px;
  }

  & mat-toolbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2.5rem 4rem rgba(black, 0.25);
  }
}

.landing-page-container {
  height: 100%;
  background-image: url("../../assets/images/mb-bg-fb-09.png");
  background-size: cover;
}
