.board-container {
  height: 100%;
  background-image: linear-gradient(rgba(black, 0.5), rgba(black, 0.5)),
    url("../../assets//images/mb-bg-fb-07.png");
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.statuses-container {
  flex: 1;
  padding: 2rem 2rem;
  display: flex;
  align-items: top;
  overflow-x: auto;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
