<div class="board-container">
  <app-navbar
    [usedInComponent]="'board'"
    (logOutEvent)="onLogOut()"
  ></app-navbar>
  <div
    cdkDropList
    [cdkDropListData]="boardStatuses$ | async"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="onStatusDrop($event)"
    class="statuses-container"
  >
    <app-status
      cdkDrag
      *ngFor="let status of boardStatuses$ | async; trackBy: trackByStatuses"
      [status]="status"
      [boardId]="boardId"
      (editStateChange)="cardEditState = $event"
      [cdkDragDisabled]="cardEditState"
      [connectedTo]="connectedTo"
      class="test-app-status"
    >
    </app-status>
    <app-input-toggle>
      <app-toggle-button-small toggleButton>
        <mat-icon>add</mat-icon>
        <span>Add new list</span>
      </app-toggle-button-small>
      <app-input-small
        inputArea
        [placeholder]="'Add new list'"
      ></app-input-small>
    </app-input-toggle>
  </div>
</div>
