<div class="board-container">
  <mat-toolbar color="primary">
    <mat-nav-list>
      <!-- <span>Proman</span> -->
      <a mat-list-item [routerLink]="['/']">Proman</a>
      <a mat-list-item [routerLink]="['/dashboard']">Dashboard</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item (click)="onLogOut()">Logout</a>
    </mat-nav-list>
  </mat-toolbar>
  <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" class="statuses-container">
    <app-status *ngFor="let status of boardStatuses" cdkDrag [status]="status"></app-status>
    <span
      class="add-status-panel"
      [ngClass]="{
        'add-status-panel--show': !addingStatusState,
        'add-status-panel--hide': addingStatusState
      }"
      *ngIf="!addingStatusState"
      (click)="addingStatusState = true"
    >
      <mat-icon>add</mat-icon>
      <span>Add new list</span>
    </span>
    <div class="new-status-modal" *ngIf="addingStatusState">
      <form
        [formGroup]="newStatusForm"
        (ngSubmit)="onStatusAdd()"
        class="new-status-modal__form"
      >
        <input
          class="new-status-modal__form-input"
          matInput
          placeholder="Add name of new list"
          formControlName="name"
          type="text"
        />
        <div class="new-status-modal__button-container">
          <button
            class="new-status-modal__submit-btn"
            mat-raised-button
            color="accent"
            type="submit"
          >
            Add list
          </button>
          <button
            mat-icon-button
            (click)="addingStatusState = false"
            class="new-status-modal__close-btn"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
