<div class="dashboard-container">
  <div class="new-board-modal" *ngIf="addBoardModalOpened">
    <form [formGroup]="newBoardForm" (ngSubmit)="onNewBoardSubmit()">
      <mat-card>
        <button
          mat-icon-button
          (click)="addBoardModalOpened = false"
          class="close-button"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-card-content>
          <mat-form-field>
            <input
              matInput
              placeholder="Add board title"
              formControlName="title"
              type="text"
            />
            <mat-error
              *ngIf="newBoardForm.controls['title'].hasError('required')"
            >
              Provide title to add new board
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!newBoardForm.valid"
          >
            Submit
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  <app-navbar
    [usedInComponent]="'dashboard'"
    (logOutEvent)="onLogOut()"
  ></app-navbar>
  <mat-card class="board-container">
    <mat-card-header>
      <mat-icon>dashboard</mat-icon>
      <mat-card-title class="board-container__title">
        Your Boards
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="board-container__list">
      <a
        class="board-container__tile"
        *ngFor="let board of userBoards$ | async"
        [routerLink]="['/boards', board.boardId]"
        >{{ board.title }}</a
      >
      <a class="board-container__tile" (click)="addBoardModalOpened = true"
        ><mat-icon>add</mat-icon>Add new board</a
      >
    </mat-card-content>
  </mat-card>
</div>
