/* You can add global styles to this file, and also import other style files */

@import "styles/variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
}

body {
  height: 100vh;
  font-family: $main-font;
  color: $grey-font-color-light;
}
