@import "src/styles/variables";

input {
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid blue;
  font-family: $main-font;
  font-size: $font-size-subtitle;
  color: $grey-font-color;
  padding: 0.5rem;
  width: 27rem;

  &::-webkit-input-placeholder {
    font-size: $font-size-regular;
    font-family: inherit;
    color: $grey-font-color-light;
  }
}
